global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend http_back

backend http_back
    http-request set-header X-Custom-Header MyValue
    server fastapi_app 127.0.0.1:8000

# Enable HAProxy stats
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth "$HAPROXY_STATS_USER":"$HAPROXY_STATS_PASSWORD"